* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Popins', sans-serif;
	box-sizing: border-box;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
}


/* Topo da página e Rodapé */
.topo, .rodape {
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-topo {
	display: flex;
	align-items: center;
	padding-right: 20px;
}
.logo-topo figure {
	padding-right: 15px;
}
.topo img, .rodape img {
	width: 80px;
}
.topo p, .rodape p {
	font-size: 16px;
	color: #2f86d6;
	font-weight: 600;
}
.topo h1, .topo h2 {
	font-size: 32px;
	color: #000000;
}
nav a{
	padding: 0 8px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: #233032;
}

/* Seção do Banner */
.banner {
	background-color: #2f86d6;
	color: #fff;
}
.secao-banner {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text-banner {
	width: 400px;
}
.banner p {
	padding: 20px 0;
	font-size: 16px;
	line-height: 28px;
}
.banner h2{
	font-size: 28px;
	line-height: 40px;
}
.banner img {
	width: 512px;
}

/* Primeiro Anúncio */
.anuncios {
	height: 100%;
	color: #fff;
	line-height: 36px;
}
.primeiro-anuncio {
	background-color: #233032;
}
.anuncio {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.anuncio h2{
	font-size: 24px;
}
.anuncio p{
	font-size: 16px;
}
.primeiro-anuncio .anuncio a {
	background-color: #2f86d6;
}
.anuncio a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 0 8px;
	width: 250px;
	height: 50px;
	border-radius: 5px;
}
.anuncio a::before {
	content: " ";
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../assets/icone-foguete.png");
    background-size: cover;
    background-position: center;
}

/* Seção */
.secao h2 {
	padding-bottom: 50px;
	font-size: 32px;
}
.secao h2 span {
	color: #2f86d6;
}

/* Seção Informações */
.informacao {
	text-align: center;
	padding: 100px 0px;
}
.info {
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.info img {
	padding-bottom: 25px;
	height: 100px;
}
.info h3 {
	padding-bottom: 20px;
	font-size: 18px;
}
.info p {
	font-size: 16px;
}

/* Seção Planos */
.tabela {
	margin-bottom: 80px;
	width: 100%;
	text-align: center;
	box-shadow: 0px 2px 40px 15px rgba(47,134,214,1);
	border-spacing: 0;
}
.celula-cabeçalho {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.celula-cabeçalho h3{
	margin-bottom: 15px;
	padding: 20px 0px;
	font-size: 18px;
}
table img {
	width: 100px;
}
th small {
	width: 150px;
	font-size: 13px;
	color: #a89f9f;
}
tbody tr {
	font-size: 16px;
	font-weight: bold;
}
.linhas-da-tabela:nth-child(odd) {
	background-color: #f6f6f6;	
}
.linhas-da-tabela:nth-child(even) {
	background-color: #f1f3f7;
}
td {
    text-align: center;
    font-weight: 600;
    padding: 15px;
}
td:hover {
    background-color: #2f86d6;
}

/* Segundo Anúncio */
.segundo-anuncio .anuncio a {
	background-color: #233032;
}
.segundo-anuncio {
	background-color: #2f86d6;
}
.segundo-anuncio h2 {
	max-width: 550px;
}

/* Rodapé */
.rodape {
	flex-direction: column;
}
.logo-rodape {
	display: flex;
	align-items: center;
}
.logo-rodape figure{
	text-align: center;
	padding: 15px;
}
.contato {
	margin-bottom: 50px;
}
.contato p{
	text-align: center;
	color: #000000;
	line-height: 36px;
}
.dev {
	margin: 15px 0;
	text-align: center;
	font-weight: 600;
}
.dev span {
	color: #2f86d6;
}

/* INÍCIO RESPONSIVIDADE */

/* Telas Mobile até 500px*/
@media screen and (max-width: 500px) {

}

/* Telas de tablet  */
@media screen and (min-width: 500px) and (max-width: 768px) {
	.container {
		padding: 0 5px;
	}

	/* Seção topo */
	.container {
		padding: 0 5px;
	}
	.topo {
		height: 140px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	nav {
		padding: 0;
		padding-top: 10px;
		border-top: 1px solid #233032;
	}

	/* Seção Banner */
	.text-banner p {
		font-size: 12px;
	}
	.text-banner h2 {
		font-size: 20px;
	}
	.secao-banner img {
		display: none;
	}
	.anuncio a {
		font-size: 14px;
		margin-bottom: 50px;
	}

	/* Seção Anúncios */
	.anuncio{
		height: 120px;
		display: flex;
		flex-direction: column;
	}
	.anuncio h2 {
		font-size: 20px;
	}
	.anuncio p {
		font-size: 12px;
	}
	.anuncio a {
		font-size: 14px;
		width: 200px;
	}

	/* Seção Informações */
	.informacao h2 {
		font-size: 22px;
	}
	.info h3 {
		font-size: 18px;
	}
	.info p {
		font-size: 14px;
	}

	/* Seção Planos */
	.planos h2 {
		font-size: 28px;
	}

	/* Seção Tabela */
	.celula-cabeçalho h3 {
		font-size: 14px;
	}
	.celula-cabeçalho img {
		display: none;
	}

	.linhas-da-tabela {
		font-size: 12px;
	}
	tbody td {
		padding: 5px;
	}
}

/* Telas pequenas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Seção topo */
	.logo-topo h1 {
		font-size: 28px;
	}
	.logo-topo p {
		font-size: 14px;
	}
	nav a {
		font-size: 16px;
	}


	/* Seção Banner */
	.text-banner p {
		font-size: 14px;
	}
	.text-banner h2 {
		font-size: 24px;
	}
	.secao-banner img {
		width: 400px;
	}

	/* Seção Anúncios */
	.anuncio h2 {
		font-size: 18px;
	}
	.anuncio p {
		font-size: 14px;
	}
	.anuncio a {
		font-size: 14px;
		width: 200px;
	}
}

/* Telas Desktop HD ou superior*/
@media screen and (min-width: 1024px) {

}
/* FIM RESPONSIVIDADE */