header {
	background-color: #2f86d6;
}
.topo, .rodape {
	background-color: #2f86d6;
}
.topo p, .rodape p {
	color: #fff;
}
nav a{
	padding-right: 10px;
	color: #fff;
	font-weight: 600;
}

.conteudo-tabela {
	width: 100%;
	padding: 100px 20px;
}
th, td {
	text-align: center;
	padding: 10px 20px;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
th p {
	font-size: 14px;
	font-weight: 500;
	color: #a8a4a4;
}
th h3 {
	font-size: 28px;
}
.cabeçalho-da-tabela th:first-child {
	visibility: hidden;
}
.cabeçalho-da-tabela th:hover {
	background-color: #2f86d6;
	color: #fff;
	cursor: pointer;
}
.cabeçalho-da-tabela:nth-child(1) {
	background-color: #f1f3f7;
}
.linhasDaTabela td:nth-child(1) {
	background-color: #f1f3f7;
	font-weight: 600;
	text-align: left;
}
.marcador-azul::before {
	content: " ";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #2f86d6;
	border-radius: 100px;
}

/* Rodapé */
.rodape {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #2f86d6;
	align-items: center;
	line-height: 30px;
	border-top: 1px solid #f1f3f7;
}

@media screen and (max-width: 500px) {
	.conteudo-tabela {
		width: 100%;
		padding: 50px 0;
	}
	.cabeçalho-da-tabela p {
		font-size: 8px;
	}
	.cabeçalho-da-tabela h3 {
		font-size: 12px;
	}
	.linhasDaTabela td {
		text-transform: lowercase;
		font-weight: normal;
	}
	.linhasDaTabela td:nth-child(1) {
		font-size: 10px;
	}
	.linhasDaTabela td {
		font-size: 10px;
	}
	th, td {
		padding: 2px 3px;
	}
}
@media screen and (min-width: 500px) and (max-width: 768px) {
	.conteudo-tabela {
		width: 100%;
		padding: 50px 0;
	}
	.cabeçalho-da-tabela p {
		font-size: 10px;
	}
	.cabeçalho-da-tabela h3 {
		font-size: 14px;
	}
	.linhasDaTabela td {
		text-transform: lowercase;
		font-weight: normal;
	}
	.linhasDaTabela td:nth-child(1) {
		font-size: 12px;
	}
	.linhasDaTabela td {
		font-size: 12px;
	}
	th, td {
		padding: 5px 10px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.conteudo-tabela {
		width: 100%;
		padding: 100px 0;
	}
	.cabeçalho-da-tabela p {
		font-size: 12px;
	}
	.cabeçalho-da-tabela h3 {
		font-size: 18px;
	}
	.linhasDaTabela td {
		text-transform: lowercase;
	}
	.linhasDaTabela td:nth-child(1) {
		font-size: 14px;
		font-weight: 500;
	}
	th, td {
		padding: 5px 10px;
	}
}
